*, *::after, *::before {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 60px 15px; //for development only (not for production)
  background-color: #E9EBEC;
  font-family: Verdana, Geneva, sans-serif;
}


// horizontal
.tabs-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid #d2d2d2;
  color: #222222;
  font-size: 1em;
  font-weight: 400;
  .tab-nav {
    /* background-color: #f4f4f4; */
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #E9EBEC;
    display: flex;
    flex-direction: column;
    @media(min-width: 768px) {
      flex-direction: row;
    }
    li {
      display: flex;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      a {
        color: #555;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        padding: 15px 30px;
        border-right: 1px solid #d2d2d2;
        display: block;
        width: 100%;
        @media(min-width: 768px) {
          display: inline-block;
        }
        &.active {
          color: #0D054C;
          font-weight: 700;
          background-color: #FFFFFF;
          border: 1px solid transparent;
        }
      }
    }
  }
  .tab-content {
    padding: 15px;
    .tab-pane {
      display: none;
      line-height: 1.7;
      &.active {
        display: block;
      }
    }
  }
}



// vertical
.vertical-tabs-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid #d2d2d2;
  color: #222222;
  font-size: 1em;
  font-weight: 400;
  display: flex;
  .v-tab-nav {
    flex-basis: 30%;
    margin-right: 10px;
    background-color: #E9EBEC;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        // margin-bottom: 15px;
        a {
          color: #222222;
          display: block;
          font-size: 16px;
          font-weight: 500;
          padding: 20px 10px;
          border-bottom: 1px solid #d2d2d2;
          text-decoration: none;
          transition: all 0.3s ease;
          &:hover {
            background-color: #d2d3d4;
          }
          &.active {
            background-color: #FFFFFF;
            color: #0D054C;
            font-weight: 700;
          }
        }
        &:last-child a {
          border-bottom: none;
        }
      }
    }
  }
  .v-tab-content {
    flex-basis: 70%;
    .v-tab-pane {
      display: none;
      padding: 20px 10px;
      h3 {
        margin: 0;
      }
    }
    .v-tab-pane.active {
      display: block;
    }    
  }
}









