*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 60px 15px;
  background-color: #E9EBEC;
  font-family: Verdana, Geneva, sans-serif;
}

.tabs-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid #d2d2d2;
  color: #222222;
  font-size: 1em;
  font-weight: 400;
}
.tabs-container .tab-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #E9EBEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .tabs-container .tab-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.tabs-container .tab-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .tabs-container .tab-nav li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.tabs-container .tab-nav li a {
  color: #555;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 30px;
  border-right: 1px solid #d2d2d2;
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .tabs-container .tab-nav li a {
    display: inline-block;
  }
}
.tabs-container .tab-nav li a.active {
  color: #0D054C;
  font-weight: 700;
  background-color: #FFFFFF;
  border: 1px solid transparent;
}
.tabs-container .tab-content {
  padding: 15px;
}
.tabs-container .tab-content .tab-pane {
  display: none;
  line-height: 1.7;
}
.tabs-container .tab-content .tab-pane.active {
  display: block;
}

.vertical-tabs-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid #d2d2d2;
  color: #222222;
  font-size: 1em;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .vertical-tabs-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.vertical-tabs-container .v-tab-nav {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-right: 10px;
  background-color: #E9EBEC;
}
@media (min-width: 768px) {
  .vertical-tabs-container .v-tab-nav {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}
.vertical-tabs-container .v-tab-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vertical-tabs-container .v-tab-nav ul li a {
  color: #222222;
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 10px;
  border-bottom: 1px solid #d2d2d2;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.vertical-tabs-container .v-tab-nav ul li a:hover {
  background-color: #d2d3d4;
}
.vertical-tabs-container .v-tab-nav ul li a.active {
  background-color: #FFFFFF;
  color: #0D054C;
  font-weight: 700;
}
.vertical-tabs-container .v-tab-nav ul li:last-child a {
  border-bottom: none;
}
.vertical-tabs-container .v-tab-content {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media (min-width: 768px) {
  .vertical-tabs-container .v-tab-content {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
.vertical-tabs-container .v-tab-content .v-tab-pane {
  display: none;
  padding: 20px 10px;
}
.vertical-tabs-container .v-tab-content .v-tab-pane h3 {
  margin: 0;
}
.vertical-tabs-container .v-tab-content .v-tab-pane.active {
  display: block;
}/*# sourceMappingURL=style.css.map */